body{
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    min-height: 1500px;
    font-family:"Cairo", sans-serif;
}
section{
    position: relative;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    position: fixed;
    background-image: url(https://3.bp.blogspot.com/-BgggyNg-mJk/V4JOx7SQGxI/AAAAAAAAXoo/iOVa6u4AwJg9Ra4lUSy4gPrQ23-4Si6jQCLcB/s400/1dc14c2ef6.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 0px;
    border-top:1px solid #999 ;
    border-bottom:1px solid #999;
}
div button{
    width: 140px;
    padding: 3px;
    font-family:"Cairo", sans-serif ;
    background-color: white;
    font-size: 22px;
    color:black;
    border: 2px solid white;
    margin-top:10px ;
    font-style: bold;
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
    transition: 1s;
}
div button:hover{
    color: white;
    background: hsl(29, 93%, 48%);
    border:2px solid  hsl(29, 93%, 48%); 
}
#d1,#d2,#d3,#d4,#d5{
    width: 400px;
    height: 330px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    color: orangered;
    text-shadow: 1px 1px rgb(160, 39, 39);
    margin-top: 30px;
    display: none;
}
#rob{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
#sda{
    color: red;
}
#sor{
    width: 500px;
    height: 200px;
    position: absolute;
    top:80px;
    left:430px;
    border-radius: 45px;
}